CitationLatine/.idea/workspace.xml
CitationLatine/.classpath
CitationLatine/.idea/sbt.xml
CitationLatine/.idea/codeStyles/codeStyleConfig.xml
/CitationLatine/.idea
CitationLatine/.project
/CitationLatine/bin
CitationLatine/CitationLatine.iml
CitationLatine/out/production/CitationLatine/com/tesserg/CitationLatine.class
